
.btn.btn-secondary:hover {
  background-color:#FA2C3E !important;
}

.btn.btn-secondary.active {
  background-color:#FA2C3E !important;
}

.changeDirection{
  width:50px;
}

.headers >* {
  color:darkblue;
  text-decoration: underline;

}
